#
# Global
#
global:
  # -- Namespace of velero installation
  veleroNamespace: velero-system
  # -- Kubernetes Cluster Domain
  kubernetesClusterDomain: cluster.local

#
# API
#
api:
  apiServer:
    image:
      # -- Image Registry
      registry: artifacts.bedag.cloud/dockerhub
      # -- Image Repository
      repository: dserio83/velero-api
      # -- Image Tag
      tag: 0.1.12
    imagePullPolicy: IfNotPresent
    # -- SecurityContext for Pod
    podSecurityContext:
      enabled: true
      seccompProfile:
        type: RuntimeDefault
    # -- SecurityContext for Container
    securityContext:
      enabled: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: false
      runAsNonRoot: true
      runAsUser: 65534
    # -- Operator nodeSelector
    nodeSelector: {}
    # -- Operator tolerations
    tolerations: []
    # -- Operator affinity
    affinity: {}
    # -- Resources for the Operator
    resources: {}
    # requests:
    #   cpu: 50m
    #   memory: 128Mi
    # limits:
    #   cpu: 500m
    #   memory: 512Mi
    # -- VolumeMounts
    volumeMounts:
    # - name: velero-api
    #   mountPath: /usr/local/bin
    # -- Volumes
    volumes:
    # - name: velero-api
    #   emptyDir: {}
  ports:
  - name: velero-api
    port: 80
    protocol: TCP
    targetPort: api
  replicas: 1
  type: ClusterIP

#
# API Config
#
apiConfig:
  apiTokenExpirationMin: "60"
  apiTokenRefreshExpirationDays: "7"
  apiEnableDocumentation: "1"
  apiEndpointPort: "8001"
  apiEndpointUrl: 0.0.0.0
  apiRateLimiterCustom1: Security:xxx:60:20
  apiRateLimiterL1: "60:20"
  awsAccessKeyId: <AWS_ACCESS_KEY_ID>
  awsSecretAccessKey: <AWS_SECRET_ACCESS_KEY>
  debugLevel: info
  downloadTmpFolder: /tmp/velero-api
  k8SInClusterMode: "True"
  origins1: '*'
  resticPassword: static-passw0rd
  securityDisableUsersPwdRate: "1"
  securityPathDatabase: ./data
  # securityTokenKey: <your-token>
  veleroCliDestPath: /usr/local/bin
  veleroCliPath: ./velero-client
  veleroCliPathCustom: ./velero-client-binary
  veleroCliVersion: v1.12.2

  # Storage Configuration
  storage:
    # -- Enable persistence for API
    enabled: false
    # -- StorageClassName
    storageClassName: ""
    # -- Storage AccessMode
    accessModes:
      - ReadWriteOnce
    # -- Storage requested resources
    resources:
      requests:
        storage: 100Mi

#
# API Service Account
#
apiSa:
  serviceAccount:
    annotations: {}

#
# UI Image
#
ui:
  ports:
  - name: velero-ui
    port: 80
    protocol: TCP
    targetPort: run
  replicas: 1
  type: ClusterIP
  webServer:
    image:
      # -- Image Registry
      registry: artifacts.bedag.cloud/dockerhub
      # -- Image Repository
      repository: dserio83/velero-ui
      # -- Image Tag
      tag: 0.1.10
    # -- Image pull policy  
    imagePullPolicy: IfNotPresent
    # -- SecurityContext for Pod
    podSecurityContext:
      enabled: true
      seccompProfile:
        type: RuntimeDefault
    # -- SecurityContext for Container
    securityContext:
      enabled: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: false
      runAsNonRoot: true
      runAsUser: 65534
    # -- Operator nodeSelector
    nodeSelector: {}
    # -- Operator tolerations
    tolerations: []
    # -- Operator affinity
    affinity: {}
    # -- Resources for the Operator
    resources: {}
    # requests:
    #   cpu: 50m
    #   memory: 128Mi
    # limits:
    #   cpu: 500m
    #   memory: 512Mi
    # -- VolumeMounts
    volumeMounts:
    # - name: velero-api
    #   mountPath: /usr/local/bin
    # -- Volumes
    volumes:
    # - name: velero-api
    #   emptyDir: {}


#
# UI Config
#
uiConfig:
  nextPublicRefreshDatatableAfter: "1500"
  nextPublicRefreshRecent: "5000"
  nextPublicVeleroApiUrl: http://10.10.0.100
  nextPublicVeleroApiWs: ws://10.10.0.100

#
# UI Nodeport
#
uiNp:
  enabled: false
  ip: ""
  apiPort: "30001"
  uiPort: "30002"

#
# UI Ingress
#
uiIngress:
  enabled: true
  ingressClassName: gelan-pub
  metadata:
    annotations:
      # cert-manager.io/cluster-issuer: "letsencrypt-prod" 
  spec:
    tls:
    - hosts:
      - velero.svc.gelan-ict.ch
      secretName: velero-ui-tls

#
# Service Account
#
k8SReadOnlyServiceAccount:
  serviceAccount:
    annotations: {}

#
# Watchdog Cron
#
report:
  failedJobsHistoryLimit: 0
  schedule: 0 8 * * *
  successfulJobsHistoryLimit: 0
  veleroWatchdogReport:
    image:
      # -- Image Registry
      registry: artifacts.bedag.cloud/dockerhub
      # -- Image Repository
      repository: dserio83/velero-watchdog
      # -- Image Tag
      tag: 0.1.4
    imagePullPolicy: IfNotPresent
    # -- SecurityContext for Pod
    podSecurityContext:
      enabled: true
      seccompProfile:
        type: RuntimeDefault
    # -- SecurityContext for Container
    securityContext:
      enabled: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: false
      runAsNonRoot: true
      runAsUser: 65534
    # -- Operator nodeSelector
    nodeSelector: {}
    # -- Operator tolerations
    tolerations: []
    # -- Operator affinity
    affinity: {}
    # -- Resources for the Operator
    resources: {}
    # requests:
    #   cpu: 50m
    #   memory: 128Mi
    # limits:
    #   cpu: 500m
    #   memory: 512Mi
    # -- VolumeMounts
    volumeMounts:
    # - name: velero-api
    #   mountPath: /usr/local/bin
    # -- Volumes
    volumes:
    # - name: velero-api
    #   emptyDir: {}


#
# Watchdog Daemon
#
watchdog:
  replicas: 1
  veleroMonitoring:
    image:
      # -- Image Registry
      registry: artifacts.bedag.cloud/dockerhub
      # -- Image Repository
      repository: dserio83/velero-watchdog
      # -- Image Tag
      tag: 0.1.4
    imagePullPolicy: IfNotPresent
    # -- SecurityContext for Pod
    podSecurityContext:
      enabled: true
      seccompProfile:
        type: RuntimeDefault
    # -- SecurityContext for Container
    securityContext:
      enabled: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: false
      runAsNonRoot: true
      runAsUser: 65534
    # -- Operator nodeSelector
    nodeSelector: {}
    # -- Operator tolerations
    tolerations: []
    # -- Operator affinity
    affinity: {}
    # -- Resources for the Operator
    resources:
      limits:
        cpu: 500m
        memory: 1256Mi
      requests:
        cpu: 250m
        memory: 256Mi
    # -- VolumeMounts
    volumeMounts:
    # - name: velero-api
    #   mountPath: /usr/local/bin
    # -- Volumes
    volumes:
    # - name: velero-api
    #   emptyDir: {}

#
# Watchdog Cluster IP
#
watchdogClusterip:
  port: 8001
  targetPort: 8001

#
# Watchdog Config
#
watchdogConfig:
  apiEndpointURL: "0.0.0.0"
  apiEndPointPort: "8001"
  debugLevel: "Info"
  backupEnable: "True"
  scheduleEnable: "True"
  expiresDaysWarning: "29"
  k8SInclusterMode: "True"
  k8sVeleroNamespace: "velero"
  processClusterName: <cluster-name>
  processCycleSec: "300"
  notificationSkipCompleted: "True"
  notificationSkipInProgress: "True"
  notificationSkipRemoved: "True"
  notificationSkipDeleting: "True"
  emailAccount: <email>
  emailEnable: "False"
  emailPassword: <pwd>
  emailRecipients: <recipients>
  emailSmtpPort: <smtp-port>
  emailSmtpServer: <smtp-server>
  telegramChatId: <chat-id>
  telegramEnable: "False"
  telegramToken: <token>
  reportBackupItemPrefix: ""
  reportScheduleItemPrefix: ""
  slackChannel: <channel-id>
  slackEnable: "False"
  slackToken: <token>
