{{- if .Values.uiIngress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "seriohub-velero.fullname" . }}-ingress
  labels:
  {{- include "seriohub-velero.labels" . | nindent 4 }}
  {{- with .Values.uiIngress.metadata.annotations }}
  annotations:
    {{- . | toYaml | nindent 4}}
  {{- end }}
spec:
  ingressClassName: {{ .Values.uiIngress.ingressClassName }}
  rules:
  - host: {{ (index (index .Values.uiIngress.spec.tls 0).hosts 0) }}
    http:
      paths:
      - backend:
          service:
            name: '{{ include "seriohub-velero.fullname" . }}-ui'
            port:
              number: 80
        path: /
        pathType: Prefix
      - backend:
          service:
            name: '{{ include "seriohub-velero.fullname" . }}-api'
            port:
              number: 80
        path: /api
        pathType: Prefix
      - backend:
          service:
            name: '{{ include "seriohub-velero.fullname" . }}-api'
            port:
              number: 80
        path: /ws
        pathType: Prefix
  tls:
  {{- if .Values.uiIngress.spec.tls }}
    {{- .Values.uiIngress.spec.tls | toYaml | nindent 2 }}
  {{- end }}
{{- end }}
